[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-sqlalchemy = "==3.0.3"
flask-bcrypt = "==1.0.1"
flask-migrate = "==4.0.0"
pyjwt = "*"
faker = "==15.3.2"
pytest = "==7.2.0"

[dev-packages]

[requires]
python_version = "3.10"